.main{

    display: flex;
    justify-content:space-around;
    background-color: whitesmoke;

}

.other{

    display: flex;
    justify-content: space-around;
    background-color: whitesmoke;

}

.head{
   
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    margin-left: 10px;
    background-color: whitesmoke;
}

h1{
    display: flex;
    justify-content: center;
    background-color: whitesmoke;

}

img{

    border: solid;
   border-color: black;

}